@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('Roboto/Roboto-Light.ttf');
}

p {
  font-family: 'Roboto-Regular';
}

.branding {
  font-size: 44px;
  color: white;
  top: 45px;
  margin: 0;
  position: absolute;
}

.header {
  font-size: 36px;
  color: white;
}

.sub-header {
  font-family: 'Roboto-Light';
  font-size: 26px;
  color: white;
}

.email-text {
  font-size: 24px;
  margin: 0 0 25px 0;
}
