body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-color: lightgrey;
}

.branding {
  position: absolute;
  top: 4%;
  left: 8%;
}

.column {
  width: 50%;
}
.forms {
  float: right;
  width: 35%;
}
.info {
  float: left;
  width: 61%;
  margin-right: 4%;
  min-width: 351px;
}
.field {
  width: 100%;
  height: 24px;
  border-radius: 2px;
  border: 1px solid grey;
}
.submit {
  float: right;
  height: 26px;
  margin-top: 10px;
  background: none;
  border: none;
  font-size: 18px;
  background-color: darkgray;
}
.submit:hover {
  cursor: pointer;
}

.intro {
  position: relative;
  width: 75vw;
  margin-left: 8%;
  top: 35%;
}

.get-started {
  margin: 10px 0 0 0;
}
.button {
  font-size: 20px;
  border-radius: 3px;
  background-color: green;
  padding: 12px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
    .intro {
        top: 25%;
        padding: 0px;
        margin-left: 8%;
    }
    .column, .forms {
      width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .intro {
        top: 18%;
    }
}
