body {
  margin: 0;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-color: lightgrey;
}

.branding {
  position: absolute;
  top: 4%;
  left: 4%;
}

.toolbar {
  position: absolute;
  top: 4%;
  right: 4%;
}
.toolbar-item {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px;
}

.intro {
  position: relative;
  width: 75vw;
  margin: auto;
  top: 35%;
  padding-right: 80px;
}

.get-started {
  margin: 10px 0 0 0;
}
.button {
  font-size: 20px;
  border-radius: 3px;
  background-color: green;
  padding: 12px;
  display: inline-block;
}


.footer {
  padding: 20px 0;
}
.footer p {
  margin: 0;
}
.footer-left {
  position: relative;
  left: 4%;
  display: inline;
}
.footer-right {
  position: relative;
  right: 4%;
  float: right;
  display: inline;
}
